@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');
@import 'variables';

html{
    scroll-behavior: smooth;
}

body {
    background-color: #F3F8FF;
    color: $color-black;
    font-family: $font-inter;
    display: flex;
    justify-content: center;
    width: 100vw;
    overflow-x: hidden;
}

.menu-body{
    overflow: hidden;
}

h1,h2,h3,p{
    margin: 0;
    padding: 0;
}

h1,h2,h3{
    font-family: $font-poppins;
}

a {
    text-decoration: none;
}

.content{
    width: 80%;
    margin: 0 auto;
    max-width: 1440px;
    overflow-x: hidden;
}


.background-lines {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none; 
    z-index: -1;
  }
  
  .background-line {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 1px;
    background-color: $color-black;
    opacity: 0.1;
    
  }

footer{
    width: 100%;
    text-align: center;
    color: $color-black;
    font-size: 12px;
}

@media(max-width : 425px){
    body{
        overflow-x: hidden;
    }

    .content{
        width: 100%;
    }
}