$primary-color: #FFFFFF;
$toggle-padding: 25px 20px;
$transition-duration: 0.3s;
$transition-ease: ease;


.collapse {
  width: 100%;
  

  &-button {
    color: #010317;
    border: none;
    padding: $toggle-padding;
    font-size: 20px;
    font-weight: 500;
    font-family: $font-poppins;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    
  }

  &-title {
    width: 90%;
  }

  &-content {
    color: black;
    font-size: 16px;
    font-weight: 400;
    max-height: 0;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 0;
    overflow: hidden;
    transition: max-height 0.8s ease,padding 0.5s ease;

      .collapse-text{
        transition: opacity 0.5s ease;
        opacity: 0;
        
      }

  }

  .open {
    max-height: 250px; 
    padding-bottom: 10px;
    display: block;

    .collapse-text{
        opacity: 1;

        }
    }


  &-pair{
    background-color: #F4F4F4;
  }
  &-impair{
    background-color: white;
  }

  &-haut{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  &-bas{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  .toggle-icon{
    position: relative;
    background-color: #010317;
    width: 30px;
    height: 30px;
    border-radius: 50%;

    &::before,
    &::after {
        content: '';
        position: absolute;
        background-color: white;
        transition: transform 0.3s ease;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    &::before {
        width: 2px;
        height: 50%;
        transform-origin: center;
    }

    &::after {
        width: 50%;
        height: 2px;
    }


    &-open::before {
        transform: translate(-50%, -50%) rotate(90deg);
    }          
  }
  
}

@media(max-width : 768px){
  .collapse{
    &-button{
      padding: 15px 10px;
    }
  }
  
}

@media(max-width : 425px){
  .collapse{
    &-button{
      padding: 15px 15px;
    }
  }
}