@import '../../variables';

.holder{
    position: relative;
    border-radius: 10px;
    height: 463px;
    box-sizing: border-box;
    overflow: hidden;
    padding: 61px 10%;
    width: 100%;
    margin-bottom: 128px;
    margin-top: 64px;
    background-color: black;
    //background-image: url(../../../images/font_etoile.png);
    
    &::before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: $color-black;
        mix-blend-mode: screen;
        pointer-events: none;
        z-index: 1;
    }

    video{
        position: absolute;
        top: 0;
        left: 0;
        object-fit: cover;
        width: 100%;
        height: 100%;          
    }

    &-up{
       
        height: 80%;
        
    }

    &-down{
        position: absolute;
        display: flex;
        align-items: center;
        width: 80%;

        &-left{

            width: 33%;

            p{
                font-size: 14px;
                font-weight: 300;
                color: #F9F9F9;
            }

        }

        &-right{

            width: 66%;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .holder-lien{
                display: flex;
                flex: 1;
                justify-content: center;
            }

            .dispo{
                display: flex;
                align-items: center;
                border: 1px solid #F9F9F9;
                border-radius: 50px;
                gap: 10px;
                padding: 20px 25px 20px 25px;
                text-align: center;
                font-weight: 500;
                transition: background-color 0.5s ease, color 0.5s ease;
                color: #F9F9F9;
    
                &:hover{
                    background-color: #F9F9F9;
                    color: $color-black;
                }
            }
              
    
            .bouton-dispo{
                flex: 1;
                text-align: right;
                img{scale: 0.9;}
            }

        }            
    }

    &-green-dot{
        display: block;
        width: 10px;
        height: 10px;
        background-color: #2AF47B;
        border-radius: 50%;
    }

}
@media(max-width : 768px){
    .holder{

        padding: 48px 0px;
        &-down{
            flex-direction: column-reverse;
            width: 100%;
            gap: 10px;
            

            &-left{
                width: 100%;
                text-align: center;
                
            }

            &-right{
                box-sizing: border-box;
                width: 100%;
                padding: 0 24px;
                .holder-lien{
                    justify-content:left;
                }
            }
        }
    }
   
}

@media(max-width : 425px){
    .holder{
        border-radius: 0;
        margin-bottom: 64px;

        &-down{
            &-right{
                
                .bouton-dispo{
                    display: none;
                }

                .holder-lien{
                    justify-content: center;
                }
            }

           

        }

    }
}