@import '../../variables';
////////////////////////////////COMPOSANT PROJET/////////////////////////////////////

.project{
    border-radius: 10px;
    color: $color-black;
    box-sizing: border-box;
    padding: 48px 24px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    &-img-1{
        width: 450px;
        transform: translateY(-100%);
        top: 0;
        right: -20px;
        position: absolute;
        transition: transform 0.8s ease;
    }

    &-img-2{
        width: 300px;
        transform: translateX(100%);
        top: -20px;
        right: 0;
        position: absolute;
        transition: transform 0.8s ease;
    }

    &-img-3{
        width: 190px;
        transform: translateY(-100%);
        top: 0;
        right: 10px;
        position: absolute;
        transition: transform 0.8s ease;
    }

    &-img-4{
        height: 350px;
        transform: translateX(-100%);
        top: 95px;
        left:0;
        position: absolute;
        transition: transform 0.8s ease;
    }

    &:hover{
        .techno{
            transform: translateX(0);
        }

        .project-img-1{
            transform: translateY(-50%);
        }

        .project-img-2{
            transform: translateX(20%);
        }

        .project-img-3{
            transform: translateY(0);
        }

        .project-img-4{
            transform: translateX(-35%);
        }
    }
 
    &-techno{
        display: flex;
    }

    &-down{
        align-self: flex-end;
    }

    &-date{
        margin: 0;
        font-size: 12px;
        font-weight: 400;
        margin-bottom: 4px;
    }
    
    span{
        margin-right: 5px;
    }

    h3{
        margin: 0;
        font-weight: 500;
        font-size: 24px;
        margin-bottom: 16px;
    }

    

    .techno{
        max-height: 32px;
        text-align: center;
        box-sizing: border-box;
        border-radius: 500px;
        width: 75px;
        padding: 10px;
        color: white;
        font-size: 10px;
        font-weight: 500;
        transition: transform 0.8s ease;

        &-0{
            background-color: #EE4D97;
            z-index: 3;
        }
    
        &-1{
            background-color: #403DFC;
            transform:translateX(-90%);
            z-index: 2;
        }
    
        &-2{
            background-color: #48E34B;
            transform:translateX(-180%);
        }

        
    }

   
}

/////////////////////////////SECTION PROJET////////////////////////////////////////

.project-section{

    margin-bottom: 128px;

    h2{
        width: 100%;
        text-align: center;
        margin-bottom: 64px;
    }

    .project-div{
        position: relative;

        
    .project-list{
        width: 100%;
        display: flex;
        height: 648px;
        position: relative;
    
        transition: transform 1s ease;
    
        &-offScreen{
            transform: translateX(-150%);
        }   
    
        &-left{
            width: 65%;
            margin-right: 10px;
            height: 100%;
            display: flex;
            flex-direction: column;
        }
    
        &-right{
            flex: 1;
            height: 100%;
    
            .project{
                height: 100%;
            }
        }
    
        &-rond{
            margin-top: 10px;
            display: flex;
        }
    }

   

}

.rond-projet{
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 32px;
    font-weight: 500;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background: radial-gradient(87.87% 208.03% at 12.05% 47%, #EE4D97 0%, #FFCCE3 100%);
    transition: width 1s ease, height 1s ease, margin 1s ease;

    &:hover{
        width: 270px;
        height: 270px;
        margin: 15px;
    }
    
    &-droite{
        flex: 1;
        margin-left: 10px;
    }

    &-text{
        font-family: $font-poppins;
    }
}

}

//////////////////////COMPOSANT ProjectDetail////////////////////////////

.project-detail{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #DFDFFB;
    border-radius: 15px;
    box-sizing: border-box;
    padding: 48px 64px;
    transform: translateX(150%);
    top: 0;
    transition: transform 1s ease ;
    overflow-y: scroll;
 


    &-onScreen{
     
        transform: translateX(0);
    }
    
    
    &-back{
        top: 48px;
        left: 41px;
        position: absolute;
        border: none;
        border-radius: 50%;
        transform: rotate(90deg);
        cursor: pointer;
    }

    &-text{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 24px;
        margin-top: 32px;


        &-titre{
            font-family: $font-poppins;
            font-size: 20px;
        }

        &-prob{
            font-size: 18px;
            
        }
        p{
            margin: 6px 0;
        }

        img{
            width: 100%;
            border-radius: 10px;
            

        }
    }

    &-down{
        display: flex;
        gap: 10px;

        img{
            width: 33%;
            object-fit: cover;
            
        }
    }


    h3{
        text-align: center;
        font-size: 40px;
        font-weight: 500;
    }

   
}


///////////////////////////////////MEDIA ///////////////////////////////////////////
@media(max-width : 1024px){
    .project-detail{
        &-text{
            grid-template-columns: repeat(1, 1fr);
            gap: 0;

            img{
                margin: 8px 0;
            }
        }
    }
}


@media(max-width : 768px){
    .project-section{

        .project-div{

            .project-list{

                height: auto;
                flex-direction: column;
                gap: 10px;

                &-left{
                    width: 100%;
                }
            }
        }
    }


    .project{

        &-date{
            margin: 10px 0;
        }

        img{
            display: none;
        }
        
        

        .techno{
            margin-bottom: 8px;
            &-1{
                transform: none;
            }
            &-2{
                transform: none;
            }
        }
    }

    .project-detail{
        padding: 32px 40px;
        &-back{
            left: 40px;
            top: 30px;
        }
    }
}

@media(max-width : 425px){
    .project-section{
        margin-bottom: 64px;
        .rond-projet{
            display: none;

            &-droite{
                margin-left: 0;
            }
        }
    }

    .project{
        width: 90%;
        margin-left: 5%;
        padding: 24px 24px;
    }

    .project-detail{
        border-radius: 0;
        padding: 24px 32px;

        &-back{
            top: 23px;
            left: 20px;
        }
    }
}


